*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: aqua;
}

/* ---------------- SECCAO HABILIDADES --------------*/
.wrapper{
    width: 40%;
    min-width: 570px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.container{
    width: 100%;
    background-color: white;
    padding: 30px 30px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}
.container * {
    font-family: arial;
    color: black;
    font-weight: 500;
}
h2{
    margin-bottom: 50px;
    font-size: 33px;
    text-align: center;

}

.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
    border: 3px solid #0d96e0;
    border-radius: 20px;
}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #0d96e0;
}
.skills:not(:last-child){
    margin-bottom: 30px;
}

/*1 bar*/
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 90%;
    }
}

/*2 bar*/
#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 80%;
    }
}

/*3 bar*/
#javascript-bar{
    animation: javascript-fill 2s forwards;
}
@keyframes javascript-fill{
    100%{
        width: 68%;
    }
}

/*4 bar*/
#PHP-bar{
    animation: PHP-fill 2s forwards;
}
@keyframes PHP-fill{
    100%{
        width: 90%;
    }
}

/*------------- FIM SECCAO HABILIDADES -----------------------*/