*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor01: #587ae9;
    --cor02: #3b1fbb;
    --cor03: #e6ebff;
    --cor04: #d9e1fc;
}

body{
    font-family: 'sarala', sans-serif;
    line-height: 30px;
    width: 100%;
    text-align: justify;
}



/*----------BARRA DE MENU---------*/
nav{
    background:  #1278a3;
    padding: 5px 20px;
}

.nav-link:hover{
    background-color: rgba(0, 255, 255, 0.452);
    border-radius: 10px;
    transition: ease-in 0.4s;
    padding: 5px;
}

ul{
    list-style-type: none;
}

a{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    transform: ease-in;
}

a:hover{
    text-decoration: underline;
}
.menu li{
    font-size: 16px;
    padding: 15px 5px;
}
.menu li a{
    display: block;
}
.logo a{
    font-size: 20px;
}
.button.secondary{
    border-bottom: 1px #444 solid;
}
/*mobile menu*/
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    order: 1;
}

.item.button{
    order: 2;
}
.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active{
    display: block;
}



.toggle{
cursor: pointer;
}

.bars{
    background: rgb(253, 253, 253);
    display: inline-block;
    height: 2px;
    position: relative;
    width: 22px;
}
.bars::before,.bars::after{
    background: rgb(255, 255, 255);
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 22px;
}

.bars::before{
    top: 5px;
}

.bars::after{
    top: -5px;
}

/*--------------------FIM BARRA DE MENU----------------*/


.seccao1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 527px;
    background-image: url(background.png);
    
}


.divisao1{
    color: rgb(255, 255, 255);
    font-size: 17px; 
   
}

.divisao1 > p{
    margin: 7px;
    color: rgb(17, 28, 126);
    font-family: 'sarala', sans-serif;
    font-size: 15pt;
}

.divisao1 > h2{
    color: white;
    font-size: 22pt;

}
.divisao2{
    margin-top: 30px;
}
input#botao{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    background-image: linear-gradient(to left, var(--cor02), var(--cor01));
    border-radius: 6px;
    padding: 13px;
    width: 120px;
    border-style: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199);
    margin-left: 20px;
    color: white;
    font-size: 11pt;
    font-family: 'righteous', sans-serif;
    
}
               




.seccao2{
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.divisao3{
    max-width: 400px;
    min-width: 210px;
    margin-left: 140px;
}
.divisao4{
    margin: 20px;
    max-width: 480px;
    min-width: 100px;
    text-align: justify;
}
.divisao4 > h3{
    color: #302b02;
    font-weight: bold;
}

.adicionada1{
    text-align: justify;
   margin: auto;
   max-width: 500px;
   padding-left: 4px;
   padding-right: 4px;
}


.divisao5{
    padding-bottom: 30px;
    margin: auto;
    text-align: justify;
    max-width: 500px;
    min-width: 100px;
    padding-left: 4px;
    padding-right: 4px;
}

.divisao5 > h2{
    color: rgb(6, 75, 75);
    font-size: 10pt;
}

.seccao3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.divisao-impar{
    padding: 35px;
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.329);
    border-radius: 10px;

}

.img-blog{
    margin: auto;
    display: flex;
    padding: 10px;
    align-items: center;
}

.botao-blog{
   
    border-style: none;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    color: #0a3fee;
    margin-top: 10px;
    background-color: rgba(140, 224, 224, 0.459);
}
.divisao-impar > h3{
    text-align: left;
    color: #071c61;
}
.divisao-impar > p{
    font-size: 11pt;
    padding-top: 5px;
}
.seccao4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.divisao-foto1{
    width: 500px;
    margin: auto;
}

.divisao-foto2{
    margin: auto;
}


.divisao6{
    padding-top: 30px;
    width: 400px;
    text-align: center;
    margin: auto;
}

.divisao7{
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 7px;
    padding-right: 4px;
   max-width: 400px;
    text-align: left;
    margin: auto;

}



.divisao8 p{
  text-align: center;
}

.divisao8 > svg{
    margin-left: 2 f0px;
}

.paragrafo{
    text-align: center;
    margin-bottom: 7px;
    }

.divisao9{
    padding-top: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccao7{
    text-align: center;
}


input#dados{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    margin: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.308);
    color: grey;
    padding: 5px;
    background: rgb(238, 236, 236);
}
input#mensagem{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    margin: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.308);
    color: grey;
    padding: 20px;
    background: rgb(240, 239, 239);
}

input#botao-formulario{
    background: rgb(255, 246, 246);
    border-radius: 6px;
    width: 120px;
    border-style:none ;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199);
    margin-left: 10px;
    padding: 10px;
    margin: 10px;
}
input#botao-whatssap{
     background: rgb(255, 246, 246);
    border-radius: 6px;
    width: 120px;
    border-style:none ;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199);
    margin-left: 10px;
    padding: 10px;
    margin: 10px;
}

input#botao-whatssap{
    
   background-image: linear-gradient(to right, #55ca55, rgb(7, 141, 7));
   color: rgb(255, 248, 248);
}

footer{
    background: rgb(1, 66, 66);
    padding: 60px;
    width: 100%;
}

img{
margin: -80px;
padding: -160px;;
}


svg#media{
    position: relative;
    top: 50%;
    left: 47%;
    color: white;
    margin:10px;
}

svg#whatssap-link{
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
    z-index: 1000;
    box-shadow: 1px 1px 3px #888;
}

img#whatssap-icone{
    position: fixed;
   top: 80%;
   left: 70%;
}


.links-rapidos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links{
margin: auto;
margin-bottom: 20px;
}

ul > li{
    list-style: none;
    color: black;
    margin: 12px;
}
.lista-item{
    color: black;
    list-style: none;
    margin: -6px;
    margin-bottom: 2px;
    margin-left: 17px;
}

.lista-item:hover{
    text-decoration: underline;
}
footer > p{
    color: white;
    text-align: center;
    font-size: 12pt;
}


/* ---------------- SECCAO HABILIDADES --------------*/
.wrapper{
    padding-top: 10px;
    width: 40%;
    min-width: 70%;
    margin: auto;
}
.container{
    width: 100%;
    background-color: white;
    padding: 30px 30px 50px;
    border-radius: 10px;
}
.container * {
    font-family: arial;
    color: black;
    font-weight: 500;
}
h2{
    margin-bottom: 50px;
    font-size: 33px;
    text-align: center;

}

.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
    border: 3px solid #0d96e0;
    border-radius: 20px;
}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #0d96e0;
}
.skills:not(:last-child){
    margin-bottom: 30px;
}

/*1 bar*/
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 90%;
    }
}

/*2 bar*/
#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 80%;
    }
}

/*3 bar*/
#javascript-bar{
    animation: javascript-fill 2s forwards;
}
@keyframes javascript-fill{
    100%{
        width: 68%;
    }
}



/*------------- FIM SECCAO HABILIDADES -----------------------*/



/* WEB SITE ESTRUTURA CELULAR */

@media(min-width: 957px){
    .divisao1 > p{
        margin: 7px;
        color: rgb(255, 255, 255);
        font-family: 'sarala', sans-serif;
        font-size: 15pt;
    }
}


@media (max-width: 500px){
    .seccao1{
       display: flex;
       flex-direction: column;
       
    }
    .divisao1{
       width: 200px;
       margin: 0px;
       padding: 0px;
    }

    .divisao1 > h2{
        color: white;
        font-size: 22pt;
        margin-bottom: -1px;
    }

    .divisao1 > p{
        margin: 7px;
        color: rgb(255, 255, 255);
        font-family: 'sarala', sans-serif;
        font-size: 15pt;
    }

.seccao2{
    display: flex;
    flex-direction: column;
}

.divisao3{
    display: none;
}
.divisao4{
    padding: 2px;
    width: 100%;
    text-align: justify;
}

.seccao3{
    display: flex;
    flex-direction: column;
}
.divisao-impar{
width: 85%;
padding: 30px;

}

.seccao4{
    display: flex;
    flex-direction: column;
}

.divisao7{
    padding-left: 10px;
    padding-right: 10px;
}


.divisao8 p{
    font-size: 11pt;
    text-align: center;
}

.paragrafo{
    text-align: center;
    font-size: 12pt;
}

.divisao9{
    width: 110%;
}

input#dados{
    width: 210px;
    height: 40px;
}
input#mensagem{
    width: 200px;
}

img#whatssap-icone{
    position: fixed;
   top: 80%;
   left: 50%;
}
input#botao{
    margin-bottom: 20px;
}
.wrapper{
    min-width: 80%;
}

svg#media{
    position: relative;
    top: 50%;
    left: 27%;
    color: white;
    margin:10px;
}

}

@media(max-width: 340px){
    .links-rapidos{
        display:flex;
        flex-direction: column;
        font-size: 11.4pt;
    }

}

/*FIM WEBSITE ESTRUTURA CELULAR*/


/* Configuracao barra de menu*/ 
@media all and (min-width:468px){
    .menu{
     justify-content: center;
    } 
    .logo{
     flex: 1;
    }
    .item.button{
     width: auto;
     order: 1;
     display: block;
    }
 
    .toggle{
     order:2;
    }
    .button.secondary{
     border: 0;
    }
 
    .button a{
     text-decoration: none;
     padding: 7px 15px;
     background: teal;
     border: 1px solid #006d6d;
     border-radius: 50em;
    }
 
    .button-secondary a{
     background: transparent;
    }
    .button a:hover{
     transition: all .25s;
    }
    .button:not(.secondary) a:hover{
     background: #006d6d;
     border-color: #005959;
    }
    .button.secondary a:hover{
     color: #ddd;
    }
 }
 
 
 @media all and (min-width: 768px){
     .item{
         display: block;
         width: auto;
     }
     .toggle{
         display: none;
     }
     .logo{
         order: 0;
     }
     .item{
         order: 0;
     }
     .button{
         order: 2;
     }
 
     .menu li{
         padding: 15px 10px;
     }
     .menu li.button{
         padding-right: 0;
     }
     
 }